In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [4]:
cars = pd.read_csv('./used_cars.csv')
cars.columns = [c.lower() for c in cars]
cars.set_index('id', inplace = True)

print('{} rows x {} columns'.format(*cars.shape))
cars.head()

297899 rows x 8 columns

,price,year,mileage,city,state,vin,make,model
id,,,,,,,,
1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,Buick,EncoreConvenience
2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,Buick,EncoreFWD
3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,Buick,EncoreLeather
4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD
5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,Buick,EncoreConvenience

In [6]:
cars['year'].value_counts()

2014    57700
2015    53490
2016    40818
2017    30297
2013    26022
2012    18205
2011    15845
2010    10807
2008     9828
2007     7975
2009     7242
2006     5778
2005     4194
2004     3050
2003     2038
2002     1421
2001      998
2000      730
2018      461
1999      455
1998      327
1997      218
Name: year, dtype: int64

In [7]:
cars['make'].value_counts()

Ford             48187
Chevrolet        45636
BMW              32415
Nissan           29595
Dodge            15188
Kia              13532
Audi             12618
GMC              12396
Jeep             11983
Acura            11049
Mercedes-Benz    10600
Lexus             8997
Chrysler          7319
Honda             6778
Cadillac          6569
Mazda             6123
Buick             5637
Lincoln           3086
Mitsubishi        1845
MINI              1782
Land              1651
Porsche           1547
Pontiac            849
FIAT               805
Mercury            518
Bentley            367
Maserati           361
Aston              149
Ferrari             74
Oldsmobile          55
Alfa                44
Lamborghini         37
Genesis             32
AM                  19
Plymouth            16
Lotus               14
McLaren             13
Fisker               5
Freightliner         4
Maybach              3
Geo                  1
Name: make, dtype: int64

In [11]:
cars['state'].value_counts()

 TX    36754
 FL    27848
 CA    27537
 GA    14240
 IL    13283
 NC    12504
 VA    11170
 PA     9405
 NY     9380
 NJ     8940
 OH     8605
 AZ     8363
 CO     8240
 WA     7829
 TN     6368
 MA     5922
 MD     5902
 IN     5668
 MO     5538
 KY     5474
 MI     4285
 AL     4157
 MN     4045
 WI     3586
 OK     3552
 OR     3537
 UT     3487
 SC     3285
 CT     3011
 KS     2788
 LA     2770
 NV     2477
 AR     2214
 MS     1752
 NM     1673
 IA     1630
 NH     1612
 NE     1607
 ID     1183
 DE      903
 RI      739
 HI      670
 ME      637
 MT      618
 WV      471
 AK      467
 SD      331
 Fl      315
 VT      305
 ND      297
 WY      188
 Va       91
 ga       68
 Md       67
 Ga       62
 Oh       23
 Az       12
 DC        7
 Ca        7
Name: state, dtype: int64

In [12]:
cars.isnull().sum()

price      0
year       0
mileage    0
city       0
state      0
vin        0
make       0
model      0
dtype: int64

In [13]:
cars['avg_saleprice'] = cars.groupby(['year', 'make', 'model']).price.transform('mean')
cars['gt_avg'] = (cars.price > cars.avg_saleprice).astype(int)

In [15]:
cars.head(10)

,price,year,mileage,city,state,vin,make,model,avg_saleprice,gt_avg
id,,,,,,,,,,
1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,Buick,EncoreConvenience,17291.768786,0
2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,Buick,EncoreFWD,16721.350598,0
3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,Buick,EncoreLeather,19080.632911,0
4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,Buick,EncoreFWD,16721.350598,0
5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,Buick,EncoreConvenience,17291.768786,0
6,17020,2016,16877,Grand Island,NY,KL4CJASB7GB536760,Buick,EncoreFWD,18122.519084,0
7,15950,2015,27885,West Covina,CA,KL4CJASB3FB241802,Buick,EncoreFWD,16721.350598,0
8,17091,2016,24008,Little Rock,AR,KL4CJASBXGB565542,Buick,EncoreFWD,18122.519084,0
9,16995,2015,8624,Punta Gorda,FL,KL4CJFSB7FB173565,Buick,EncoreConvenience,17291.768786,0
10,17700,2015,13807,Jacksonville,NC,KL4CJBSB8FB068543,Buick,EncoreConvenience,17291.768786,1

In [16]:
cars.drop(columns=['city', 'vin', 'avg_saleprice'], inplace=True)

In [17]:
cars.head()

    price  year  mileage state   make              model  gt_avg
id
1   16472  2015    18681    MO  Buick  EncoreConvenience       0
2   15749  2015    27592    IN  Buick          EncoreFWD       0
3   16998  2015    13650    NC  Buick      EncoreLeather       0
4   15777  2015    25195    LA  Buick          EncoreFWD       0
5   16784  2015    22800    NV  Buick  EncoreConvenience       0

In [20]:
from sklearn.preprocessing import LabelEncoder

for col in ['state', 'make', 'model', 'year']:
    le = LabelEncoder().fit(cars[col])
    cars[col] = le.transform(cars[col])

In [23]:
cars.head()

    price  year  mileage  state  make  model  gt_avg
id
1   16472    18    18681     28     7    523       0
2   15749    18    27592     19     7    525       0
3   16998    18    13650     32     7    526       0
4   15777    18    25195     22     7    525       0
5   16784    18    22800     38     7    523       0

In [25]:
X, y = cars.drop(columns='gt_avg'), cars.gt_avg

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [32]:
import sklearn.metrics as m
from sklearn.model_selection import cross_val_score

In [50]:
from sklearn.model_selection import GridSearchCV

params = {'n_neighbors': [2, 3, 5, 7, 11, 13],
          'weights': ['uniform', 'distance'],
         'metric': ['euclidian', 'manhattan']}

In [51]:
neighbor = KNeighborsClassifier()

In [52]:
grid = GridSearchCV(neighbor, params, verbose = 1, cv=3, n_jobs =-1)

grid.fit(X_train, y_train)

Fitting 3 folds for each of 24 candidates, totalling 72 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

ValueError: Metric 'euclidian' not valid. Use sorted(sklearn.neighbors.VALID_METRICS['brute']) to get valid options. Metric can also be a callable function.